// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.text-capitalize{
    text-transform: capitalize;
}
.table_row {
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}
.table_body, .table_head_title {
    display: flex;
    align-items: center;
    padding: 5px;
}
.table_head_title {
    padding: 10px 5px;
    background-color: #f3f3f3;
}
.table_line_item {
    max-width: 70%;
    width: 100%;
}
.table_status {
    max-width: 15%;
    width: 100%;
}
.table_price {
    max-width: 15%;
    width: 100%;
}
.table_email {
    max-width: 20%;
    width: 100%;
}
.table_time {
    max-width: 15%;
    width: 100%;
}
.order-name{
    padding: 10px;
    max-width: 81px;
    text-align: center;
    border-radius: 100px;
    color: #fff;
}
.urgent-order {
    background-color: red;
}
.table_head_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table_head_main .table_line_item {
    max-width: initial;
    width: auto;
}
.primary_black_color, .primary_black_color:hover {
    color: #000;
}
.Polaris-Checkbox__Input:active:not(:disabled) + .Polaris-Checkbox__Backdrop::before, .Polaris-Checkbox__Input:checked + .Polaris-Checkbox__Backdrop::before, .Polaris-Checkbox__Input.Polaris-Checkbox__Input--indeterminate + .Polaris-Checkbox__Backdrop::before {
    opacity: 1;
    transform: scale(1);
}
.Polaris-Checkbox__Input:active:not(:disabled) + .Polaris-Checkbox__Backdrop, .Polaris-Checkbox__Input:checked + .Polaris-Checkbox__Backdrop, .Polaris-Checkbox__Input.Polaris-Checkbox__Input--indeterminate + .Polaris-Checkbox__Backdrop {
    border-color: var(--p-interactive);
}
.Polaris-Filters-ConnectedFilterControl__CenterContainer .Polaris-Filters-ConnectedFilterControl__Item{
    display: none !important;
}
.chrome-picker{
    cursor: pointer;
}
.order-status-listing {
    display: flex;
    align-items: center;
}
.order-color-input div:first-child {
    width: 100%;
}
.order-color-input {
    display: flex;
    position: relative;
}
.order-color-main ul li:last-child {
    padding-bottom: 0;
}
.order-color-main ul li {
    padding-bottom: 15px;
}
.order-color-main ul {
    list-style: none;
    padding-left: 0;
}
.custom-chrome-picker {
    right: 0;
    top: 37px;
    z-index: 999999999 !important;
}
.order_notes{
    padding: 15px 0;
}
.order-list-main .Polaris-DataTable__Cell--header:last-child, .order-list-main .Polaris-DataTable__Cell:last-child {
    text-align: center;
}
.delivery_date .Polaris-Icon {
    display: inline-block;
    margin-left: 22px !important;
    margin: initial;
}
.delivery_date {
    display: flex;
    align-items: center;
    justify-content: center;
}
.delivery_date-button__icon button{
    border: none;
    box-shadow: none;
    padding: 0;
}
.delivery_date-button__icon button:hover{
    background-color: transparent;
}
.Polaris-Modal-Dialog__Modal {
    height: 45vh;
}
.react-datepicker__month-container, .react-datepicker{
    width: 100%;
}
body .react-datepicker__input-time-container {
    text-align: center;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
    width: 7rem !important;
}
.react-datepicker, .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header{
    font-size: 1.3rem !important;
}
.react-datepicker-wrapper input, .table_header_search{
    padding: 5px;
}
.table_header_search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}